.cookingTimeBlock {
  display: flex;
  align-items: center;
}

.cookingTime {
  margin-left: 0.5rem;
}

.cookingTimeIcon {
  font-size: large;
}

.likeBlock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.like {
  margin-right: 0.5rem;
}

.buttonBlock {
  display: flex;
  justify-content: right;
}

.footer { 
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}