
.dayRecipeCard {
  background-color: var(--color-light-blue);
  margin-bottom: 5rem;
}

.title {
  font-family: 'Cookie', sans-serif;
  font-size: xx-large;
}

.img {
  grid-area: img;
  max-width: 100%;
}

.desc {
  grid-area: desc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 0 1rem 2rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "img img img desc desc";
  min-height: 400px;
}

.arrow {
  align-self: flex-end;
  background-color: var(--color-light-blue);;
}

@media screen and (max-width: 600px) {
  .content {
    grid-template-areas: 
      "img img img img img img"
      "desc desc desc desc desc desc";
  }

  .desc {
    padding: 0;
  }

  .img {
    width: 100%;
    min-height: 300px;
    margin-bottom: 2rem;
  }
}