@import '../../../vars.css';
.nav {
  display: flex;
  justify-content: space-around;
  gap: 1rem
}

.active {
  color: var(--primary-color-red);
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.pending {
  color: black;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}