.layout {
  min-height: 100vh;
}

.sider {
  overflow: 'auto';
  padding: 2rem 1rem;
  height: 100vh;
  position: 'sticky';
  left: 0;
  top: 0;
  bottom: 0;
}

.error {
  margin-top: 1rem;
  color: var(--color-error);
  text-align: center;
}