.headerBlock {
  height: 110px;
}

.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header:hover .logoImg {
  opacity: 30%;
  transition: opacity 1s ease-out, transform 1s ease-out;
  transform: translateY(0%);
}

.logoBlock {
  display: flex;
  align-items: center;
}

.logoImg {
  max-width: 5rem;
  opacity: 100%;
  transform: translateY(-10%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.logo {
  font-family: 'Cookie', sans-serif;
  font-size: 4rem;
}

.searchBar {
  text-align: center;
}