.header {
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
}

.header:hover .logoImg {
  opacity: 10%;
  transition: opacity 1s ease-out 0.5s;
}

.logoBlock {
  display: flex;
}

.logoImg {
  max-width: 5rem;
  opacity: 100%;
  transition: opacity 2s ease-out;
}

.logo {
  font-family: 'Cookie', sans-serif;
  font-size: 4rem;
}