.headerBlock {
  min-height: 110px;
}

.header {
  padding: var(--top-content-padding) var(--left-right-content-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header:hover .logo {
  transition: transform 1s ease-out;
  transform: translateY(0%);
}

.logoBlock {
  display: flex;
  align-items: baseline;
  position: relative;
}

.logoImg {
  max-width: 5rem;
}

.logo {
  font-family: var(--font-logo);
  font-size: 4rem;
  transform: translateY(-200%);
  transition: transform 1s ease-out;
  color: black;
}

.logoClone {
  font-family:  var(--font-logo);
  font-size: 4rem;
  opacity: 40%;
  position: absolute;
  left: 4.8rem;
  bottom: 0;
  color: black;
}

.searchBar {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .header {
    padding: var(--top-content-padding) var(--left-right-content-padding-900);
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: var(--top-content-padding) var(--left-right-content-padding-600);
  }
}

@media screen and (max-width: 470px) {
  .header {
   flex-direction: column;
   align-items: flex-start;
   gap: 2rem;
  }

  .icons {
    align-self: flex-end;
  }
}