.footer {
  padding: var(--top-content-padding) var(--left-right-content-padding);
  background-color: var(---color-light-gray);
}

.footerBlock {
  display: flex;
  justify-content: space-between;
}

.footerBlockRecipePage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}

.logoBlock {
  max-width: 15rem;
}

.logo {
  font-family: var(--font-logo);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.logoContent {
  color: var(--color-gray);
}

.navBlock {
  display: flex;
  gap: 6rem
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem
}

.navDropDownButton {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray);
  border-radius: 0;
}

.link {
  color: var(--color-gray);
}

.copyright {
  color: var(--color-gray);
}

.socialNetBlock {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.icon {
  color: var(--color-gray);
  font-size: large;
}

@media screen and (max-width: 900px) {
  .footer {
    padding: var(--top-content-padding) var(--left-right-content-padding-900);
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding: var(--top-content-padding) var(--left-right-content-padding-600);
    display: flex;
    flex-direction: column;
    gap: 4rem
  }

  .footerBlock {
    flex-direction: column;
    gap: 1rem;
  }

  .footerBlockRecipePage {
    margin-bottom: 0
  };

  .footerBlock {
    flex-direction: column;
    gap: 1rem;
  }
  
  .logoContent {
    margin-bottom: 2rem;
  }

  .footerBlock:last-child {
    flex-direction: column-reverse;
  }

  .socialNetBlock {
    justify-content: flex-start;
  }
}